<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="gugliotti_media_manager" translate="label" sortOrder="100"
            showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Gugliotti Media Manager</label>
            <tab>general</tab>
            <resource>Gugliotti_MediaManager::settings</resource>
            <group id="general" translate="label" sortOrder="10"
                showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="media_folder" translate="label,tooltip" sortOrder="10"
                    showInDefault="1" showInWebsite="0" showInStore="0"
                    type="text" canRestore="1">
                    <label>Media Folder</label>
                    <tooltip>Inform the media folder, relative to pub/ folder.</tooltip>
                </field>
            </group>
        </section>
    </system>
</config>